:root {
  --blue: #6495ed;
  --white: #ffffff;
  --dark-blue: #343A40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Header */
nav {
  padding: 15px 0 !important;
}
nav a{
  color: var(--white) !important;
}

.avatar {
  height: 50px;
  width: 50px;
  margin: 0 10px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.dropdown-menu a{
  color: var(--dark-blue )!important;
}

/* AuthScreen */

.login {
  position: relative;
  height: 100%;
}

.login__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: var(--white);
  padding: 20px;
  left: 0;
  right: 0;
}
.login h1 {
  margin-top: 50px;
}
.login button {
  margin: 20px 0 ;
}
.login span{
  color: var(--dark-blue);
  margin-right: 10px;
  
}

/* Screen General */
.screen__title {
  padding-top: 40px;
  padding-bottom: 15px;
}


/* Form General */
form input {
  margin-bottom: 15px;
}


.todo__icons{
  float: right;
  margin-left: 10px !important;
}